
  <!-- main container -->

  <div class="container" ng-controller="MainCtrl as MainCtrl" ng-cloak>

 

    <!-- left column: plot controls, map -->

    <div class="col-sm-6 col-md-5">

      <!-- plot controls -->

      <div class="row margin-md grey">

        <div class="col-lg-4 margin-sm">
          <label>Trig Function</label>


          <select-menu model="MainCtrl.request.trigFunction" options="MainCtrl.forms.trigFunctions"></select-menu>


        </div>

        <div class="col-lg-4 margin-sm">
          <label>Line Color</label>

          <select-menu model="MainCtrl.request.lineColor" options="MainCtrl.forms.lineColors"></select-menu>

        </div>

        <div class="col-lg-4 margin-sm">
          <label>X-Max</label>
          <slider floor="1" ceiling="50" ng-model="MainCtrl.request.cycles"></slider>
        </div>

        <div class="col-lg-4 col-lg-offset-8">
          <button class="btn btn-primary btn-block" ng-click="MainCtrl.updatePlot()">Update Plot</button>  
        </div>

      </div>

      <!-- end left column -->

    </div>





    <!-- right column: plots -->

    <div class="col-sm-6 col-md-offset-1">

      <div class="row margin-md">

        <div class="col-md-12">

          <!-- loading screen-->

          <div class="plot-loading" ng-show="MainCtrl.status().loading">
            <div class="spinner spinner-dark">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
          </div>

          <!-- error message -->

          <div class="plot-error" ng-show="MainCtrl.status().error">
            <h4>ERROR</h4>
            <p>{{MainCtrl.status().error}}</p>
          </div>

          <!-- plot image -->

          <img 
            class="plot-image shadow"
            ng-click="MainCtrl.popup.visible=true" 
            ng-hide="MainCtrl.status().loading || main.status().error" 
            ng-src="{{MainCtrl.url && MainCtrl.url || ''}}" />

          <!-- popup directive: creates a dark transparent overlay that hides when clicked -->
          <!-- any html can go inside -->

          <popup visible="MainCtrl.popup.visible">
            <div class="col-sm-6 col-sm-offset-3">
              <img class="plot-image" ng-src="{{MainCtrl.popup.url}}" />
            </div>
          </popup>

        </div>

      </div>

      <!-- end right column -->

    </div>





    <!-- end container -->
 
  </div>

